html {
  font-size: 62.5%;
  overflow: hidden;
}
body {
  overflow: hidden;
  background-color: #000;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}
.app {
  font-family: 'Sassy Frass', cursive;
  display: grid;
  row-gap: 10rem;
}

.board {
  width: 60rem;
  height: 60rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}
.unclickable {
  pointer-events: none;
}
.position {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 10rem;
  cursor: default;
  width: 20rem;
  height: 20rem;
  color: #fff;
  display: grid;
  place-items: center;
  text-transform: uppercase;
}
.position.winner {
  color: #fff;
}
.border--b {
  border-bottom: 5px solid #fff;
}
.border--r {
  border-right: 5px solid #fff;
}
.score {
  display: flex;
  gap: 3.2rem;
}
.score {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.2rem;
  color: rgb(150, 150, 150);
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.player--0,
.player--1 {
  display: inline-block;
}
.player--0-score,
.player--1-score {
  display: block;
  text-align: center;
  margin-top: 2.4rem;
  color: #fff;
}
.player-score.active--player {
  color: #fff;
}
